
# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank

# Speedy keys
xset r rate 210 40

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Initialization program
xbanish & # Hide mouse when typing
mpd & # Music Background
flameshot & # Screen shot
setxkbmap br # Keyboard
setxkbmap -option caps:escape # Keyboard
export ZDOTDIR=$HOME/.config/zsh # zsh config dir

